<!-- Recipe partial to display Recipes Details-->
@model User

@if (Model.Recipes.Count == 0)
{
    <h5>No Recipes</h5>
}
else
{
    <div class="card rounded shadow">
        <table class="table table-sm">
            <thead>
                <tr>           
                    <th>Name</th>
                    <th>Diet</th>  
                    <th>Cuisine</th>
                    <th>Calories</th>
                    <th>Servings</th>       
                    <th></th>  
                </tr>
            </thead>
            <tbody>
                @foreach(var r in Model.Recipes) {
                    <tr>              
                        <td>@r.Name</td>
                        <td>@r.Diet</td>  
                        <td>@r.Cuisine</td>  
                        <td>@r.Calories</td>  
                        <td>@r.Servings</td>  
                                                
                        <td>
                            <a title= "Recipe Details" asp-controller="Recipe" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-sm btn-danger"><i class="bi bi-info"></i></a>
                            <a asp-condition=@(User.IsInRole("admin")) asp-action="Edit" title="Edit Recipe" asp-route-id="@r.Id" class="btn btn-sm btn-danger"><i class="bi bi-pen"></i></a>
                            <a asp-condition=@(User.IsInRole("admin")) asp-action="RecipeDelete" title="Delete Recipe" asp-route-id="@r.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                        </td>             
                    </tr>   
                }
            </tbody>
        </table>
    </div>
}