@* @if (Model.Reviews.Count == 0)
{
    <h4>This Recipe has yet to recieve any reviews</h4>
    
}
else
{ *@

<div>
<h3>Recipe Reviews</h3>
<a asp-controller="Recipe" asp-action="AddReview" asp-route-id="@Model.Id" class="btn btn-sm btn-dark mt-1 mb-2"></i>Add Review<i class="bi bi-pen ml-2"></i></a>
</div>

<div class="card rounded shadow">
<table class="table table-sm table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Reviewed On</th>
            <th>Name</th>
            <th>Comment</th>
            <th>Recipe Rating 1 - 10<i class="bi bi-star-fill bi bi-star ml-2"></i></th>
            <th><i class="bi bi-trash ml-2"><th>
        </tr>
    </thead>
    <tbody>
        @foreach(var r in Model.Reviews)
        {
            <tr>
                <td>@r.ReviewedOn.ToString("MM/dd/yy H:mm")</td>
                <td>@r.Name</td>
                <td>@r.Comment</td>
                <td>@r.Rating</td>
                <td><a asp-controller="Recipe" asp-action="DeleteReview" asp-route-id="@Model.Id" class="btn btn-sm btn-light mr-4">Delete</a></td>
                
            </tr>    
        }
    </tbody>    
</table>  



