@model Recipe

<!-- View for recipe details page -->

<!-- partial used for view layout -->
<partial name = "_ViewLayouts">

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("/recipe","Recipes"),
    ("","Details")
}) />

 <!--Google Translate -->    
    <partial name="_google" />
    
<h3 class="mt-4 mb-4 navbar-title">Recipe: @Model.Name</h3>

<div class="row">   
    <div class="col-8 card rounded shadow p-3">
        <dl class="row">  
        
        <dt class="col-5">Name</dt>
        <dd class="col-7">@Model.Name</dd>

        <dt class="col-5">Diet</dt>
        <dd class="col-7">@Model.Diet</dd>

        <dt class="col-5">Meal Type</dt>
        <dd class="col-7">@Model.MealType</dd>

        <dt class="col-5">Recipe Ingredients</dt>
        <dd class="col-7">@Model.RecipeIngredients</dd>

        <dt class="col-5">Method</dt>
        <dd class="col-7">@Model.Method</dd>

        <dt class="col-5">Prep Time</dt>
        <dd class="col-7">@Model.PrepTime</dd>

        <dt class="col-5">Cook Time</dt>
        <dd class="col-7">@Model.CookTime</dd>

        <dt class="col-5">Cuisine</dt>
        <dd class="col-7">@Model.Cuisine</dd>

        <dt class="col-5">Region</dt>
        <dd class="col-7">@Model.Region</dd>

        <dt class="col-5">Calories</dt>
        <dd class="col-7">@Model.Calories</dd>

        <dt class="col-5">Servings</dt>
        <dd class="col-7">@Model.Servings</dd>

        <dt class="col-5">Cost</dt>
        <dd class="col-7">@Model.Price</dd>

        <dt class="col-5">Rating %</dt>
        <dd class="col-7">@Model.Rating</dd>

    </dl>

    <!-- use flex box to separate two divs containing primary actions on left and danger action on right -->
        <div class="mt-4 d-flex flex-row justify-content-between">
            <div>

                <!-- navigation link to redirect to Index action -->
                <a asp-controller="Recipe" asp-action="RecipeIndex" class="btn btn-sm btn-danger">
                    Back to All Recipes</a>

                    <!-- navigation link to redirect to Members Profile (Owner of the Recipe) action -->
                <a asp-controller="Recipe" asp-action="RecipeOwnerUserProfile" asp-route-id="@Model.Id" class="btn btn-sm btn-success">
                    Check Out This Member's Profile</a>

            </div>

            <div>
                <button asp-condition=@(User.IsInRole("member")) type="button" class="btn btn-sm btn-danger"><i class="bi bi-heart"></i></button>
 
                <!-- navigation link to Details action, passing the correct route id parameter -->
                <a asp-condition=@(User.IsInRole("admin")) title="Edit Recipe" asp-controller="Recipe" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-success"><i
                        class="bi bi-pen"></i></a>
  
                <!-- toggle display of Delete Modal -->
                <button asp-condition=@(User.IsInRole("admin")) title="Delete Recipe" type="button" class="btn btn-sm btn-danger" 
                        data-bs-toggle="modal" data-bs-target="#deleteRecipeModal">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="col-4">
        <img src="@Model.PhotoUrl" class="img-fluid" width="200" height="150">
    </div>
</div>

    <!-- Partial to display review details -->
<div class="row pt-3">
    <partial name="_Review" />
</div>

<!-- Delete Modal -->
<partial name="_DeleteRecipeModal" />





