@model RecipeSearchViewModel

<partial name = "_ViewLayouts">
<partial name= "_RecipeLayout">  

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("","Recipes")
}) />

<h3><b class="navbar-title mb-3">Recipe List</b></h3>

<div class="my-4 d-flex flex-row justify-content-between align-items-center">  
   <a asp-condition=@(User.IsInRole("member")) class="btn btn-sm btn-primary my-3" asp-action="Create" >
      <i class="bi bi-plus"></i> Create Recipe
   </a>   
   <partial name="_AllSearch" />
</div>

   @foreach (var r in Model.Recipes) 
   {
      <div class="card-deck">
      <div class="row row-cols-1 row-cols-md-3 g-4 ">
          <div class="col">
            <div class="h-100 d-inline-block">
            <div class= "card text-center mb-3 bg-light shadow-lg" style="width:20rem;">
               <img class="recipeimage card-img-top img-responsive" src="@r.PhotoUrl" alt= "">
                  <div class="card-body">
                  <h4 class="card-title">
                     @r.Name
                  </h4>

                  <h5 class="card=text">
                     @r.Cuisine Cuisine
                  </h5>

                  <p class = "card-text">
                     @r.Translator
                  </p>

                  <p class = "card-text">
                     @r.Rating
                  </p>
                  </div>

            <div class="card-footer text-muted">
               <a asp-action="Edit" asp-route-id="@r.Id"><i class="bi bi-pen"></i></a>
               <a asp-action="Details" asp-route-id="@r.Id"><i class="bi bi-info-circle"></i></a>
               <a asp-action="Delete" asp-route-id="@r.Id"><i class="bi bi-trash"></i></a>
            </div
            </div>
         </div>    
      </div>
      </div>
</div>
   }

