@model User

<!-- Partial used for page layout -->
<partial name="_ViewLayouts" /> 

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("",$"{Model.Name}"),
    ("","Details")
}) /> 

 <!--Google Translate -->    
    <partial name="_google" />

<h3 class="mt-4 mb-4 navbar-title">@Model.Name's Details</h3>
<div class="row">
    <!-- Details -->
    <div class="col-8 card rounded shadow p-3">
        <dl class="row">
            <dt class="col-5">Name</dt>
            <dd class="col-7">@Model.Name</dd>

            <dt class="col-5">Email</dt>
            <dd class="col-7">@Model.Email</dd>

            <dt class="col-5">Role</dt>
            <dd class="col-7">@Model.Role</dd>

            <dt class="col-5">Nationality</dt>
            <dd class="col-7">@Model.Nationality</dd>

            <dt class="col-5">Cooking Experience</dt>
            <dd class="col-7">@Model.CookingExperience</dd>
        </dl>

        <!-- use flex box to separate two divs containing primary actions on left and danger action on right -->
        <div class="mt-4 d-flex flex-row justify-content-between">
            <div>

                <!-- navigation link to redirect to All Recipes action -->
                <a asp-controller="Recipe" asp-action="RecipeIndex" class="btn btn-sm btn-danger">
                    Back to All Recipes </a>

                    <!-- navigation link to redirect to All Users action for Admin-->
                <a asp-condition=@(User.IsInRole("admin")) asp-controller="User" asp-action="Index" class="btn btn-sm btn-danger">
                    Back to All Users </a>
            </div>
        </div>
    </div>
    <!-- Photo -->
    <div class="col-4">
        <img src="@Model.PhotoUrl" class="img-fluid" width="160" height="140">
    </div>
</div>

<!-- Recipes -->
<div class="row pt-3">
    <partial name="_Recipes" />
</div>

<!-- Delete Modals -->
<partial name="_DeleteUserModal" />

