@model User
<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("/user","Users"),
    ($"/user/details/{Model.Id}",$"{Model.Id}"),
    ("","Details")
}) />
<h3 class="mt-4 navbar-title mb-4">User Details</h3>
<div class="row">
    <!-- Details -->
    <div class="col-8 card rounded shadow p-3">
        <dl class="row">
            <dt class="col-5">Name</dt>
            <dd class="col-7">@Model.Name</dd>

            <dt class="col-5">Email</dt>
            <dd class="col-7">@Model.Email</dd>

            <dt class="col-5">Role</dt>
            <dd class="col-7">@Model.Role</dd>

            <dt class="col-5">Nationality</dt>
            <dd class="col-7">@Model.Nationality</dd>

            <dt class="col-5">Cooking Experience</dt>
            <dd class="col-7">@Model.CookingExperience</dd>
        </dl>

        <!-- use flex box to separate two divs containing primary actions on left and right -->
        <div class="mt-4 d-flex flex-row justify-content-between">
            <div>
              
                 <!-- navigation link to CreateRecipe action, passing correct route parameter -->
                <a asp-condition=@(User.IsInRole("member")) asp-action="RecipeCreate" asp-route-id="@Model.Id" class="btn btn-danger"><i
                        class="bi bi-plus"></i> Add New Recipe</a>

                <!-- navigation link to redirect to Index action -->
                <a asp-condition=@(User.IsInRole("admin")) asp-controller="User" asp-action="Index" class="btn btn-success">
                    Back to User List</a>

            </div>

            <div>
                <a asp-condition=@(User.IsInRole("member")) asp-controller="User" asp-action="UpdatePassword" type="button" class= "btn btn-success">
                    Update Password</a>
                    

                <!-- navigation link to Details action, passing the correct route id parameter -->
                <a asp-condition=@(User.IsInRole("admin")) title="Edit User Details" asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-danger"><i
                        class="bi bi-pen"></i></a>

                <!-- toggle display of Delete Modal -->
                <button asp-condition=@(User.IsInRole("admin")) title="Delete User" type="button" class="btn btn-danger" 
                        data-bs-toggle="modal" data-bs-target="#deleteUserModal">
                    <i class="bi bi-trash "></i>
                </button>
            </div>

        </div>
    </div>

    <!-- Photo -->
    <div class="col-4">
        <img src="@Model.PhotoUrl" class="img-fluid" width="100" height="75">
    </div>
</div>

<!-- Recipes -->
<div class="row pt-3">
    <partial name="_Recipes" />
</div>


<!-- Delete Modal -->
<partial name="_DeleteUserModal" />


