@model UserSearchViewModel

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("","Users")
}) />

<partial name = "_ViewLayouts">

<h3 class="navbar-title mb-3">User List</h3>

<div>
    <a asp-condition=@(User.IsInRole("admin")) title="Create a User" class="btn btn-sm btn-danger my-3" asp-action="Create" >
        <i class="bi bi-plus"></i> Create a User
    </a>  
    <partial name = "_SearchUser">
</div>   
        
    <div class="card-deck">
         @foreach (var r in Model.Users) 
         {
            <div class="row row-cols-1 row-cols-md-3">
               <div class= "card text-center mb-3 bg-light shadow-lg" style="width:18rem;">
                <img class="recipeimage card-img-top img-responsive" src="@r.PhotoUrl" alt= "">
                  <div class="card-body">
                  <h6 class="card-title navbar-title">
                     @r.Name
                  </h6>

                  <p class = "card-text">
                     @r.Email
                     </p>

                     <p class = "card-text">
                     @r.Role
                     </p>

                    <p class = "card-text">
                     @r.Nationality
                     </p>
               
            </div>

            <div class="card-footer shadow-lg text-muted">
               <a asp-controller="User" title="Edit User" asp-action="Edit" asp-route-id=@r.Id><i class="bi bi-pen"></i></a>
               <a asp-action="Details" title="User Details"asp-route-id=@r.Id><i class="bi bi-info-circle"></i></a>
               <a asp-controller="User" title="Delete User"asp-action="Delete" asp-route-id=@r.Id><i class="bi bi-trash"></i></a>
            </div>
      </div>
   </div>
}
</div>
