@model ContactViewModel

<partial name="_LayoutsHome" />   

<div class="card text-center">
  <div class="card-header navbar-title custom-body">
    <h1>@Model.Title</h2>
  </div>
    <div class="card-body">
      <h4 class="card-title">@Model.Message</h5> 
      <br>    
        <p class="card-text"><b>Address:</b> @Model.Address</p>
        <p><i class="bi bi-envelope-open-fill mr-1"></i> @Model.Email</p>
        <p><i class="bi bi-telephone-fill mr-1"></i> @Model.Phone</p>
        <h5>Alternatively, please contact us through our social media pages and a member of staff will assist any of your queries</h5>
        <a href="#"><i class="bi bi-twitter mr-2"></i></a>
        <a href="#"><i class="bi bi-instagram mr-2"></i></a>
        <a href="#"><i class="bi bi-facebook"></i><a>
  </div>
</div>

