@model Ticket

<!-- Breadcrumbs using partial view -->
<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/ticket", "Tickets"), ("","Close") })>
    
<div class="col card rounded shadow-lg p-4">

    <h3 class="mb-4">Ticket</h3>

    <dl class="row">       
        <dt class="col-4">Id</dt>
        <dd class="col-8">@Model.Id</dd>

        <dt class="col-4">Created On</dt>
        <dd class="col-8">@Model.CreatedOn</dd>
     
        <dt class="col-4">Issue</dt>
        <dd class="col-8">@Model.Issue</dd>
         
        <dt class="col-4">Created By</dt>
        <dd class="col-8">@Model.Student.Name</dd>
   
        <dt class="col-4">Resolved On</dt>
        <dd class="col-8">
            <span asp-condition=@(Model.Active)> 
                Unresolved
            </span>
            <span asp-condition=@(!Model.Active)> 
                @Model.ResolvedOn
            </span>
        </dd>
     
        <dt class="col-4">Resolution</dt>
        <dd class="col-8">@Model.Resolution</dd>
      
    </dl>

    <div class="mt-4">           
        <button asp-condition=@(User.HasOneOfRoles("admin,manager")) disabled="@(!Model.Active)" 
                data-bs-toggle="modal" data-bs-target="#closeTicketModal" class="btn btn-sm btn-danger">
            <i class="bi bi-trash mr-1"></i>Close
        </button>
        <a class="btn btn-link" asp-action="Index">Cancel</a>
    </div>

</div> 

<partial name="_CloseModal"/>
