@model TicketSearchViewModel

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/ticket", "Tickets"), ("","Search") })>
<h3>Search Tickets</h3>

<div class="my-4 d-flex flex-row justify-content-between align-items-center">  
   <a asp-action="Create" class="btn btn-primary btn-sm">Create Ticket</a>   
   <partial name="_Search" /> <!-- add form to search ticket issues -->
</div>

<table class="table">
    <thead>
      <tr>
         <th>Id</th>
         <th>Student</th>        
         <th>Created</th> 
         <th>Issue</th> 
         <th>Active</th>   
         <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @foreach(var t in Model.Tickets) {
          <tr>
            <td>@t.Id</td>
            <td>@t.Student.Name</td>
            <td>@t.CreatedOn.ToShortDateString()</td>
            <td>@t.Issue.Substring(0, t.Issue.Length < 20 ? t.Issue.Length : 20) ...</td>
            <td>
               <i asp-condition="@t.Active"    class="bi bi-toggle-on"></i>
               <i asp-condition="@(!t.Active)" class="bi bi-toggle-off"></i>  
            </td>
            <td>
               <a asp-action="Details" asp-route-id="@t.Id"><i class="bi bi-lightbulb"></i> Details</a>                                          
            </td>
         </tr>
      }
    </tbody>
</table>
